<div class="container mt-4">

  <!-- Bienvenida centrada -->
  <div class="text-center mb-4" *ngIf="user">
    <h4>Bienvenido {{ user.firstName + ' ' + user.lastName }}</h4>
  </div>

  <div class="select-group">
  
    <div class="select-field">
      <label for="perfilSelect">Selecciona un perfil:</label>
      <select id="perfilSelect" [(ngModel)]="selectedPerfilName" (change)="onPerfilNameChange()">
        <option *ngFor="let name of perfilesNames" [value]="name">{{ name }}</option>
      </select>
    </div>

    <div class="select-field">
      <label for="productoSelect">Productos disponibles:</label>
      <select id="productoSelect" [(ngModel)]="selectedProductId" (change)="onProductChange($event)">
        <option [ngValue]="null" disabled selected>-- Selecciona un producto --</option>
        <option *ngFor="let prod of filteredProducts" [ngValue]="prod.id">
          {{ prod.nombre }} - {{ prod.sku }}
        </option>
      </select>
    </div>

    <div class="total-container">
      <strong>Fijo Indirecto: {{ totalFijoIndirecto | currency:'USD':'symbol':'1.2-2' }}  </strong>
    </div>

    <div class="total-container">
      <strong>Total Dep. Mensual: {{ totalDepreciacionMensual | currency:'USD':'symbol':'1.2-2' }}  </strong>
    </div>

    <!-- Nuevo div para total -->
    <div class="total-container">
      <strong>Total: {{ totalPrecio | currency:'USD':'symbol':'1.2-2' }}  </strong>
    </div>
  </div>

</div>

