<div class="main-content">
  <nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=".">Costo</a></li>
      <li class="breadcrumb-item active" aria-current="page">Crear</li>
    </ol>
  </nav>
 
  <div class="card">
    <div class="card-body">        
      <form [formGroup]="form"> 
        <div class="row padding-top-input">
          <div class="col-12">
            <mat-form-field>
              <mat-label>Tipo</mat-label>
              <mat-select formControlName="tipo">
                <mat-option value="Fijo">Fijo</mat-option>
                <mat-option value="Variable">Variable</mat-option>
              </mat-select>
              <mat-error *ngIf="submitted && f.tipo.errors">
                <mat-error *ngIf="f.tipo.errors.required">Seleccione el Tipo de Costo</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row padding-top-input">
          <div class="col-12">
              <mat-form-field>
                  <mat-label>Concepto</mat-label>
                  <input matInput formControlName="concepto" maxlength="100" [ngClass]="{ 'is-invalid': submitted && f.concepto.errors }" >
                  <mat-error *ngIf="submitted && f.concepto.errors">
                  <mat-error *ngIf="f.concepto.errors.required">Ingrese el Concepto</mat-error>
                  </mat-error>
              </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-form-field>
                <mat-label>Precio</mat-label>
                <input matInput type="number" formControlName="precio" maxlength="20" [ngClass]="{ 'is-invalid': submitted && f.precio.errors }" >
                <mat-error *ngIf="submitted && f.precio.errors">
                  <mat-error *ngIf="f.precio.errors.required">Ingrese el Precio</mat-error>
                </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-form-field>
              <mat-label>Clasificación</mat-label>
              <mat-select formControlName="clasificacion">
                <mat-option value="Directo">Directo</mat-option>
                <mat-option value="Indirecto">Indirecto</mat-option>
              </mat-select>
              <mat-error *ngIf="submitted && f.clasificacion.errors">
              <mat-error *ngIf="f.clasificacion.errors.required">Seleccione la Clasificación</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row" *ngIf="shouldShowProductoField()">
          <div class="col-12">
            <mat-form-field>
              <mat-label>Producto</mat-label>
              <mat-select formControlName="producto">
                <mat-option *ngFor="let p of products" [value]="p.id"> 
                  {{ p.nombre }} 
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="btn-flex-end">
              <div class="margin-button">
                <button mat-raised-button class="button-add-color" (click)="back()">
                  <div class="btn-content">
                    <div class="button-txt">
                      Regresar
                    </div>
                    <div class="icon">
                      <mat-icon>undo</mat-icon>
                    </div>
                  </div>
                </button>
              </div>  
        
              <button  mat-raised-button [disabled]="loading" class="button-add-color" (click)="onSubmit()">
                <div class="btn-content">
                    <div class="button-txt">
                      Guardar
                    </div>
                    <div class="icon">
                      <mat-icon>save</mat-icon>
                    </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>




